.header {
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #edf4f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
}

.ul {
    list-style: none;
    display: flex;
    padding: 10px 15px;
    color: #333;
}
.li {
    padding: 10px 15px;
    color: #333;
}
