.sidemenu {
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 80px;
    height: 100%;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    border-right: 1px solid #e5e5e5;
    background: #4caf93;
}

.sidemenu:hover {
    overflow: visible;
    width: 17em;
}
.sidemenu:hover span {
    visibility: visible;
}
.sidemenu ul {
    margin: 7px 0;
    padding: 0;
    outline: 0;
}
.sidemenu li {
    position: relative;
    display: block;
    width: 17em;
    margin: 0;
    padding: 0;
    outline: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-decoration: none;
    color: #ffffff;
}

.sidemenu img {
    margin: 0 0 0 30px;
}

.sidemenu span {
    visibility: hidden;
    position: relative;
    display: inline-table;
    border-spacing: 0;
    border-collapse: collapse;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px 10px 10px;
}

.sidemenu li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -332px;
    height: 100%;
    width: 305px;
    background: rgba(240, 98, 146, 0.5);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.sidemenu li:hover:before {
    left: 0;
}
/* .sidemenu span {
    position: relative;
    display: table-cell;
    width: 14em;
    vertical-align: middle;
} */
.control {
    position: absolute;
    bottom: 0;
    left: 0;
}
.sidemenu ul li i {
    font-size: 1.5em;
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}
