.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2em;
    padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
